@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SPIN {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@font-face {
  font-family: kim;
  src: url(./font/kimberley.bl-regular.otf);
}

html {
  scroll-behavior: smooth;
}

/* * {
  box-sizing: border-box;
} */

body {
  background-image: url(./images/76YS.gif);
  z-index: -1;
  background-color: black;
  height: 100%;
}

#background {
  background-color: #0730a0ce;
  margin: 5rem 17rem 0px 17rem;
  border: 3px solid transparent;
  border-radius: 20px;
  /* filter: grayscale(20%); */
}

.content {
  color: rgb(189, 167, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* filter: grayscale(20%); */
  font-family: kim;
  font-weight: 20;
}

header {
  font-family: kim;
  font-weight: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* filter: grayscale(7%); */
}

#Y2K-animation {
  color: rgb(189, 167, 18);
  padding: 7rem 0px 1rem 0px;
  animation: fadeIn 2s ease-in;
  font-size: 7rem;
  transition: text-shadow 0.7s, transform 0.3s;
}

#Y2K-animation:hover {
  transform: translate(-4px, -4px);
  text-shadow: 5px 5px rgb(201, 5, 5);
}


#fun-outside {
  padding-bottom: 3rem;
  display: flex;
  opacity: 0.8;
  color: rgb(228, 198, 6);
  text-shadow: 2px 2px rgb(201, 5, 5);
  font-style: italic;
  font-weight: bolder;
}

#welcome {
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}


#index {
  margin-top: 20px;
  padding: 1rem 5rem 22rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  font-family: 'Times New Roman';
  /* background-color: rgb(109, 108, 108); */
}

#index p {
  font-size: 20px;
}

.list-content li {
  transform: translateX(-20px);
  list-style: none;
  display: inline;
}

.list-content li,
a {
  margin-right: 30px;
  color: rgb(201, 5, 5);
}


#era {
  margin-bottom: 3rem;
  /* transform: translateX(-5rem); */
}

#y2k-about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 9rem;
  /* display:  */
  margin-right: 9rem;
}

#testing {
  display: hidden;
}


#jester {
  margin-bottom: 0.2rem;
  transform: translateY(-70px);
}

.images {
  height: 70px;
  animation: SPIN 7s infinite;
}

#games {
  height: 1700px;
  margin-top: 21rem;
  margin-bottom: 10rem;
}

#console-playstation,
#console-gamecube {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 7rem;
}

.game-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: end;
  padding-right: 1rem;
  /* transform: translateX(-120px); */
  width: 400px;
}

#playstation {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-220px, -130px);
}

#gamecube {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-210px, -130px);
}

#vid-gamecube {
  display: flex;
  align-items: center;
  transform: translateX(20px);
}

#vid-playstation {
  display: flex;
  align-items: center;
  /* transform: translateX(190px); */
}

video {
  height: 300px;

  /* you can add just controls inside the video tag  */
}

#playstation-vid,
#gamecube-vid {
  transition: box-shadow 0.3s, transform 0.3s;
}

#playstation-vid:hover,
#gamecube-vid:hover {
  box-shadow: 12px 30px 0px 0px rgb(136, 113, 250),
    24px 60px 0px 0px rgb(86, 53, 249);
  transform: translate(10px, -20px)
}


#scroll {
  text-align: center;
  color: rgb(201, 5, 5);
  padding-bottom: 3rem;
  font-style: italic;
  text-decoration-line: underline;
}

.slideshow {
  width: 25rem;
  height: 27rem;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}

.slideshow div {
  scroll-snap-align: center;
}

.slideshow img {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  width: 25rem;
  height: 26rem;
  scroll-snap-align: center;
}



.popular-games-playstation {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(300px, -482px);
}



.popular-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-300px);
}

#takeover {
  margin-top: 20rem;
  transform: translate(-50px);

}

#takeover-head {
  transition: text-shadow 0.7s, transform 0.2s;
  transform: translateX(-50px);
  width: 390px;
}

#head-cars {
  transition: text-shadow 0.7s, transform 0.2s;
  transform: translateX(-50px);
  width: 200px;
}

#takeover h1:hover,
#cars h1:hover {
  transform: translate(-52px);
  text-shadow: 5px 5px rgb(201, 5, 5);
}

#list-to-do li {
  padding-bottom: 10px;
  transform: translate(120px, 10px);
}

#list-to-do {
  padding-top: 50px;
  color: rgb(201, 5, 5);
}

#car-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 15rem;
}

#warning {
  height: 160px;
  width: 260px;
}

#fun {
  height: 260px;
  transform: translateX();
}

#hit {
  height: 260px;
}

#vid1 {
  text-align: center;
  font-size: x-small;
  z-index: 1;
  /* transform: translateY(-80px); */
}

.caption {
  font-size: xx-small;
}

img {
  height: 300px;
}

.collage {
  display: flex;
}

.collage div {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.collage img {
  border: 2px solid rgb(86, 53, 249);
}

.collage p {
  font-size: x-small;
}